{% extends 'base_user.html' %}

{% block title %}
Поддержка
{% endblock %}

{% block content %}
{{ super() }}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p class="flash">{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}
 <table>
 <h2>Все модели</h2>
<form class="form" action="{{url_for('.support')}}" method="POST">
            <input class="prod__input" type="text" name="searchname" id="searchname" placeholder="Тип">
            <input class="prod__input" type="text" name="searchlogin" id="searchlogin" placeholder="Для кого">
            <input class="prod__input" type="text" name="searchsize" id="searchsize" placeholder="Размер">
            <input class="product__btn" type="submit" value="Поиск"><br>
        </form>
<table class="prod__table" width="100%">
    <tr>
        <td>Тип</td>
        <td>Для кого</td>
        <td>Выкройка</td>
        <td>Размер</td>
        <td>Материал</td>
        <td>Расход материала</td>
        <td>Порядок выполнения</td>
        <td></td>
    </tr>

    {% for i in prod %}
    <tr>
    <td class="prod__td">{{ i.type }}</td>
        <td>{{ i.purpose }}</td>
        <td>{{ i.pattern }}</td>
        <td>{{ i.size }}</td>
        <td>{{ i.material }}</td>
        <td>{{ i.consump }}</td>
        <td>{{ i.plan }}</td>
        <td>В избранное</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}